.DS_Store
node_modules/
dist/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebaserc

# Functions
functions/node_modules/
functions/lib/

# Environment variables
.env
.env.local
.env.production
